h1 {
  color: #ff8c00;
  text-align: center;
  margin-top: 70px;
}

h2 {
  color:#000000;
  text-align: center;
}

body { 
    --color-primary: #ff8c00;
    --color-primary-dark: #cf7200; 
    margin-bottom: 150px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
  background: #ff8c00;
  position: absolute;
  bottom: 0;
  right:0;
  width: 100%;
  left: 0;
  padding-left: 15px;
  padding-top: 13px;
}

#start_screen {
  padding-top: 70px;
}

/* START LOGIN CSS */

.containerLogin {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background: #ffffff;
}

.formButton {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
}

.formButton:hover {
  background: var(--color-primary-dark);
}

.formButton:active {
  transform: scale(0.98);
}

.formButton--close {
  width: 5%;
  align-items: flex-end;
}

.formText {
  text-align: center;
}

.formLink {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}

.formLink:hover {
  text-decoration: underline;
}

/* ENDE LOGIN CSS */


.faded {
  color: #999;
}

a {
	color: #000000
}

.buttonContainer {

  margin-top: 40px;

}
    /* The switch container */

  .switch-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .label-text {
    margin-top: 15px;
    margin-left: 20px;
  }


.switch {
  position: relative;
  display: block;
  width: 50px;
  height: 24px;
  margin-top: 15px;
}

/* Hide the checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Navbar Styles */
nav {
  padding: 15px 10px;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #ff8c00;
  align-items: center;
  justify-content: space-between;
  position: fixed; /* changed from absolute to fixed */
  display: flex;
  z-index: 1000; /* added to keep the navbar on top */
}

.navMenu {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-grow: 1;
}

.navMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.navMenu li {
  position: relative;
}

.navMenu a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  transition: color 0.3s;
}

.navMenu a:hover {
  color: #edebe9;
}

.navMenu li:hover::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #060605;
  transform: translateX(-50%);
}

.navMenu-logout {
  position: absolute;
  top: 15px;
  right: 10px;
}

button {
  display: inline-block;
  background-color: #fffbfb;
  border-radius: 8px;
  border: 1px solid #000000;
  color: #000000;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  width: 400px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #ff8c00;
}

.buttonBearbeiten {
  display: inline-block;
  background-color: #fffbfb;
  border-radius: 8px;
  border: 2px solid #FFC125;
  color: #000000;
  width: 100px;
  padding: 10px;
}

.buttonBearbeiten:hover {
  background-color: #FFC125;
  color: #fffbfb;
}

.buttonLoeschen {
  display: inline-block;
  background-color: #fffbfb;
  border-radius: 8px;
  border: 2px solid #FF3030;
  color: #000000;
  width: 100px;
}

.buttonLoeschen:hover {
  background-color: #FF3030;
  color: #fffbfb;
}